.circle-stamp {
  transform: rotate(12deg);
  span {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 3rem;
    font-weight: 700;
    color: #d23;
    text-align: center;
    font-family: 'Courier';
    border: 5px solid #d23;
    border-radius: 50%;
    mask-image: url('../images/grunge.png');
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
    mask-position: 2rem 3rem;
  }
}
