.close-btn {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  opacity: 0.7;
  transition: all 0.2s;
  @include media(md) {
    right: 15px;
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &::before,
  &::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 26px;
    width: 2px;
    background-color: #fff;
    @include media(md) {
      height: 20px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
