.snslogin {
  &-list {
    display: flex;
    justify-content: space-between;
    @include media(md) {
      display: block;
    }
  }

  &-item {
    width: 32%;
    background: $info;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
    @include media(md) {
      width: 100%;
      margin-bottom: 10px;
    }
    &:hover {
      background: darken($info, 10%);
    }
  }
}
