// =========================================
// base variables
// =========================================

// font -------------------------------------
@font-face {
  font-family: 'GN';
  font-display: swap;
  src: url('../fonts/GN-Kin-iro_SansSerif.woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'),
    url('../fonts/MPLUSRounded1c-Regular.woff2');
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local('M PLUS Rounded 1c Medium'), local('MPLUSRounded1c-Medium'),
    url('../fonts/MPLUSRounded1c-Medium.woff2');
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('M PLUS Rounded 1c Bold'), local('MPLUSRounded1c-Bold'),
    url('../fonts/MPLUSRounded1c-Bold.woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Noto Serif JP SemiBold'), local('NotoSerifJP-SemiBold'),
    url('../fonts/NotoSerifJP-SemiBold.woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-display: swap;
  font-style: bold;
  font-weight: 700;
  src: local('Noto Serif JP Bold'), local('NotoSerifJP-Bold'),
    url('../fonts/NotoSerifJP-Bold.woff2');
}
$logo: 'Suez One', serif;
$rpg: 'GN', sans-serif;
$base: 'M PLUS Rounded 1c', sans-serif;
$top: 'Noto Serif JP', serif;

// color ------------------------------------
$main: #9818d6;
$sub: #ff5151;
$other: #ffa41b;
$bg: #ededed;
$info: #18bc9c;
$danger: #fe346e;

// breakpoint -------------------------------
$breakpoints: (
  xs: 'screen and (max-width: 320px)',
  sm: 'screen and (max-width: 575px)',
  md: 'screen and (max-width: 767px)',
  lg: 'screen and (max-width: 991px)',
  xl: 'screen and (max-width: 1199px)'
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
