// =========================================
// base variables
// =========================================

// width -----------------------------------

// font -------------------------------------
@font-face {
  font-family: 'GN';
  src: url('/fonts/GN-Kin-iro_SansSerif.ttf');
}
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700|Suez+One&display=swap&subset=japanese');
$rpg: 'GN', sans-serif;
$base: 'M PLUS Rounded 1c', sans-serif;

// color ------------------------------------
$main: #9818d6;
$sub: #ff5151;
$other: #ffa41b;
$bg: #ededed;
$info: #18bc9c;
$danger: #fe346e;

// breakpoint -------------------------------
$breakpoints: (
  xs: 'screen and (max-width: 320px)',
  sm: 'screen and (max-width: 575px)',
  md: 'screen and (max-width: 767px)',
  lg: 'screen and (max-width: 991px)',
  xl: 'screen and (max-width: 1199px)',
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
