@mixin submit-btn {
  display: block;
  padding: 10px 30px;
  color: #ffffff;
  background: $main;
  margin: 0 auto;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 0 2px 2px 0 rgba(26, 24, 29, 0.16),
    0 1px 4px 0 rgba(26, 24, 29, 0.12);
  @include media(md) {
    font-size: 1.8rem;
  }
  &:hover {
    cursor: pointer;
    background: darken($main, 10%);
    box-shadow: 0 4px 4px 0 rgba(26, 24, 29, 0.16),
      0 1px 8px 0 rgba(26, 24, 29, 0.12);
  }
}
