.card {
  background: #ffffff;
  margin: 0 auto 30px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.0625rem 0.125rem;

  &-inner {
    padding: 10px 20px;
  }

  &-tit {
    text-align: center;
    font-size: 4.5rem;
    line-height: 1.2;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 10px;
    margin-bottom: 15px;
  }
}
