.index {
  &-list {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.0625rem 0.125rem;
    margin-bottom: 30px;
    @include media(md) {
      margin-bottom: 15px;
    }
  }

  &-item {
    &:not(:last-child) {
      border-bottom: 1px solid #e1e0e3;
    }
    &._read {
      color: #9c9c9c;
    }

    a {
      display: flex;
      align-items: center;
      padding: 15px;
      @include media(md) {
        padding: 10px;
        p {
          font-size: 1.4rem;
        }
      }
      &:hover {
        opacity: 1;
        background: #efefef;
        p {
          text-decoration: underline;
        }
      }
      img {
        width: 42px;
        border-radius: 50%;
        margin-right: 15px;
        @include media(md) {
          width: 35px;
          margin-right: 10px;
        }
      }
      span {
        font-size: 1.2rem;
        @include media(md) {
          font-size: 1.1rem;
        }
      }
    }
  }
}
