.levels {
  &-error {
    color: $danger;
    margin: 10px 0;
    text-align: center;
    @include media(md) {
      font-size: 1.5rem;
    }
  }

  &-form {
    width: 100%;
  }

  &-field {
    width: 100%;
    display: grid;
    grid-template-columns: 45px 1fr 63px 35px;
    grid-gap: 10px;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include media(md) {
      grid-template-columns: 45px 1fr 75px 35px;
      grid-gap: 5px;
    }

    p {
      @include media(md) {
        font-size: 1.5rem !important;
      }
    }

    span {
      text-align: center;
    }

    &.destroyed {
      color: #9c9c9c;

      input {
        color: #9c9c9c;
      }
    }
  }

  &-days {
    input {
      padding: 10px;
      @include media(md) {
        font-size: 1.5rem;
      }
    }
  }

  &-btns {
    text-align: right;
    transition: all 0.2s;

    .delete {
      font-size: 1.5em;
    }
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &-add {
    .add {
      background: $sub;
      color: #ffffff;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      transition: all 0.3s;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 2px 2px 0 rgba(0, 0, 0, 0.24);
      &:hover {
        opacity: 0.9;
        cursor: pointer;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &-total {
    display: flex;
    align-items: center;
    p {
      font-size: 2rem;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  &-submit {
    @extend .form-btn;
  }
}
