- title "#{@challenge.challenger_name}が攻略中のダンジョン"
- description "現在Lv#{@challenge.current_level}の#{@challenge.enemy_name}と交戦中！"
- set_meta_tags og: { image: "https://res.cloudinary.com/bbbbruno/image/upload/l_text:GN-Kin-iro-SansSerif.ttf_130_center:#{@challenge.current_level_title},w_1100,h_300,y_-50,co_rgb:333,c_fit/v1584696438/twitter_opg_r2zy5q.png" }

= render @challenge
